configuration {
	modi: "drun,window";
	location: 2;
	fixed-num-lines: false;
	show-icons: true;
	icon-theme: "Papirus";
	//font:
	display-window: "Window:";
	//display-run: "";
	display-drun: "Application:";
	drun-display-format: "{icon} {name}";
}

@theme "./flat.rasi"
